{{ header }} {{  column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        </div>
      <h1>{{ heading_title }} </h1>
      <ul class="breadcrumb">
	    {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
         {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
          <div class="form-group">
              <label class="col-sm-2 control-label" for="input-name"> </label>
			   {% if thai_translated == 'no' %}
	            <button type="submit" form="form-featured" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"> {{ text_update }}</button>
 
	           {%   else  %}
		          <div class="col-sm-8 alert alert-info">{{   text_translated }}</div>
		   
            {% endif %}
	      <label class="col-sm-2 control-label" for="input-name"> </label>
          </div> 
        </form>
      </div>
    </div>
  </div> </div>
{{  footer }}